body {
    padding: 0;
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
}
.header {
    color: white;
    background-color: green;
    padding: 20px;
}
.content {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.item {
    background-color: #32b6e6;
    color: white;
    display: flex;
    width:200px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    margin-right: 40px;
    align-items: center;

}

.footer {
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    height: 10%;
    padding-top: 10px;

}